<div class="formsize" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="30">
    <div class="heading2" fxLayout="column" fxLayoutGap=20 fxLayoutAlign="center center">
   
      <mat-card-title>
        <p>
          <span class="i">i</span>
          <span class="f">f</span>
          <span class="l">l</span>
          <span class="i">i</span>
          <span class="x">x</span>

        </p>
      </mat-card-title>
      <h2>Login</h2>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field  appearance="outline">
        <mat-label>Enter Your Email</mat-label>
        <input matInput placeholder="Email" name="email" type="text" [formControl]="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field [style.fontSize.px]="12" appearance="outline">
        <mat-label>Enter Your Password</mat-label>
        <input matInput placeholder="Password" name="password" type="password" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10%>
      <button mat-raised-button (click)="onClicked()">Login</button>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=55%>
    </div> -->

  </mat-card>
</div>
